@model IndexViewModel
@{
    ViewData["Title"] = "Panel";
}
<style>
    .grid-item {
        align-items: center
    }
</style>
<div class="page-title-area bg-1">
    <div class="container">
        <div class="page-title-content">
            <h2>ADMIN PANEL</h2>
            <div class="col-lg-12 col-md-12">
            </div>
        </div>
    </div>
</div>
<section class="product-area ptb-100">
    <div class="container">
        @*<div class="woocommerce-topbar">
            <div class="row align-items-center">
                <div class="col-lg-8 col-md-7 col-sm-6">
                    <div class="woocommerce-result-count">
                        <p>Showing 1-8 of 14 results</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-6">
                    <div class="woocommerce-topbar-ordering">
                        <select>
                            <option value="">Default sorting</option>
                            <option value="2">Sort by popularity</option>
                            <option value="0">Sort by average rating</option>
                            <option value="3">Sort by latest</option>
                            <option value="4">Sort by price: low to high</option>
                            <option value="5">Sort by price: high to low</option>
                            <option value="6">Sort by new</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>*@

        <!-- End Page Title Area -->
        <!-- Start Inner Shop Area -->
        <section class="featured-area one pb-70 ">
            <div class="container single-product-box ">
                <section class="featured-area one pb-70">
                    <div class="container">
                        <div class="row">
                            @foreach (var post in Model.Posts)
                            {
                                <div class="col-lg-4 col-md-6">
                                    <div class="single-featured">
                                        <a asp-controller="Blog" asp-action="Post" asp-route-id="@post.Id" class="blog-img">
                                            @if (!String.IsNullOrEmpty(@post.Image))
                                            {
                                                var image_path = $"/Image/{@post.Image}";

                                                <img src="@image_path" alt="Image">

                                            }
                                            <span>@post.Category</span>
                                        </a>
                                        <div class="featured-content">
                                            <ul>
                                                <li>
                                                    <a href="#" class="admin">
                                                        <i class="bx bx-user"></i>
                                                        Admin By @post.AdminName
                                                    </a>
                                                </li>
                                                <li>
                                                    <i class="bx bx-calendar"></i>
                                                    @String.Format("{0:yyyy/MM/dd/hh:mm}", @post.Created)
                                                </li>
                                            </ul>
                                            <a asp-controller="Blog" asp-action="Post" asp-route-id="@post.Id" class="read-more d-inline">
                                                <h3>@post.Title</h3>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a asp-controller="Panel" asp-action="Remove" asp-route-id="@post.Id" class="read-more d-inline"> Remove</a>
                                                </li>
                                                <li>
                                                    <a asp-controller="Panel" asp-action="Edit" asp-route-id="@post.Id" class="read-more d-inline">
                                                        EDIT
                                                    </a>
                                                </li>
                                                <li>
                                                    <a style="color:#d80650" class="read-more d-inline">
                                                       Status : @post.IsActive
                                                    </a>
                                                </li>
                                            </ul>
                                            <a asp-controller="Blog" asp-action="Post" asp-route-id="@post.Id" class="read-more">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </section>
            </div>
        </section>
		<div class="pages">

        </div>
        <div class="col-lg-12">
            <div class="page-navigation-area">
                <nav>
                    <ul class="pagination">

                        <li class="page-item">
                            @if (Model.PageNumber > 1)
                            {
                                <a class="page-link" asp-action="Index" asp-controller="Panel" asp-route-pageNumber="@(Model.PageNumber - 1)">
                                    <i class='bx bx-chevrons-left'></i>
                                </a>
                            }
                        </li>

                        @*<li class="page-item active">
            <a class="page-link" href="#">1</a>
        </li>*@


                        @for (int i = 1; i <= Model.PageCount; i++)
						{
							if (i == Model.PageNumber)
							{
                    <li class="page-item active">
                        <a class="page-link" asp-action="Index" asp-controller="Panel" asp-route-pageNumber="@i">@i</a>
                    </li>}
							else { 
                    <li class="page-item">
                        <a class="page-link" asp-action="Index" asp-controller="Panel" asp-route-pageNumber="@i">@i</a>
                    </li>
                            }
						}

                            <li class="page-item">
                                @if (Model.NextPage)
                                {
                                    <a class="page-link" asp-action="Index" asp-controller="Panel" asp-route-pageNumber="@(Model.PageNumber + 1)">
                                        <i class='bx bx-chevrons-right'></i>
                                    </a>
                                }
                            </li>
                        </ul>
                </nav>
            </div>
        </div>
    </div>
</section>

